<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Arial;
        }

        .title {
            color: #4F46E5;
            font-size: 20px;
            font-weight: bold;
        }

    </style>
</head>
<body>

<div>
    <div class="title">Eventify</div>

    <p>Zdravo,</p>

    <p>
        Uspješno ste kupili karte za događaj:
        <strong>{{eventTitle}}</strong>
    </p>

    <p>
        Broj karata: <strong>{{ticketCount}}</strong>
    </p>

    <p>Karte su u prilogu.</p>

    <p>Hvala što koristite Eventify!</p>

</div>

</body>
</html>